<div class="bg-light">
  <div>
    <app-carousel></app-carousel>
  </div>
  <div class="mb-5 container">
    <app-tim-phim></app-tim-phim>
  </div>
  <div class="container">
    <app-btn-loai-phim></app-btn-loai-phim>
  </div>
  <div class="mt-5 container text-center">
    <app-danh-sach-phim></app-danh-sach-phim>
  </div>
  <div class="pb-5 text-center">
    <h2><a href="#" class="text-warning">Xem tất cả</a></h2>
  </div>
  <div class=" bg-dark " style="height: 50px"></div>
  <div class="container">
    <app-side-bar></app-side-bar>
  </div>
</div>
