<div class="bg-dark text-light">
  <div class="container row px-1">
    <div class="col-sm-8">
      <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">LỊCH CHIẾU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home/danh-sach-phim"
                >Danh Sách Phim</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RẠP & GIÁ VÉ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ƯU ĐÃI</a>
            </li>
          </ul>
        </nav>
        <!-- Grey with black text -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">GIỚI THIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SỰ KIỆN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DỊCH VỤ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TUYỂN DỤNG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LIÊN HỆ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MEGA +</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-8" style="font-size:10px">
        <p style="font-weight: 900; font-size: 12px">
          CÔNG TY TNHH MEGA GS CINEMAS
        </p>
        <p>
          Địa chỉ: 213 Lý Tự Trọng, Phường Bến Thành, Quận 1, TP.HCM / Email:
          CSKH@megags.vn / Hotline hỗ trợ: +84 28 62649911
        </p>
        <p>
          Số ĐKKD: 0312667335 - Ngày cấp: 20/07/2017 (Đăng ký thay đổi lần 12) /
          Nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh
        </p>
        <p>Copyright ©2018 Mega GS Cinemas. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
