<div class="row">
  <div class="col-sm-8  mr-3">
    <div class="row col-12">
      <p>ƯU ĐÃI</p>
      <a href="#" class="text-center text-warning">Xem tất cả</a>
    </div>
    <div class="member">
      <img
        src="../../../assets/img/member.png"
        class="mb-5"
        style="width:100%"
        alt=""
      />
    </div>
    <!-- carousel chạy quảng cáo -->
    <div class="mb-5">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
          ><img style="width:90%" src="../../../assets/img/member.png" alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img style="width:90%" src="../../../assets/img/member.png" alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img style="width:90%" src="../../../assets/img/member.png" alt=""
        /></ng-template>
      </owl-carousel-o>
    </div>
    <!-- end carousel chạy quảng cáo -->
  </div>
  <div class="col-sm-3 bg-primary text-center">
    <h2>SỰ KIỆN</h2>
  </div>
</div>
